<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cs454-winter-2016-master/src/main/java/edu/csula/cs454/example/BFS.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.csula.cs454.example.BFS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cs454-winter-2016-master"/>
</launchConfiguration>
